/* CopyText */
.copy-text {
    /* display: flex;
    align-self: center; */
    margin-inline: auto 1rem;
    /* padding-inline: .15rem; */
    width: 28px;
    height: 22px;
    text-align: center;
    position: relative;
    bottom: .5px;
    text-shadow: 0px 0px 4px #000;
    box-shadow: 0px 2px 2px #000, inset 0px -2px 10px #000;
    border-radius: 10%;
    user-select: none;
    cursor: pointer;
    &:hover {
        filter: drop-shadow(0 0 4px #003d);
    }
}

/* Papelera */
.trash-button {
    /* margin-inline: auto 1rem; */
    margin-inline: .5rem;
    height: 22px;
    width: 26px;
    text-align: center;
    /* height: 1.7rem; */
    /* align-self: center; */
    position: relative;
    bottom: .5px;
    text-shadow: 0px 0px 4px #000;
    box-shadow: 0px 2px 2px #000, inset 0px -2px 10px #000;
    border-radius: 2px 4px 4px 2px;
    user-select: none;
    cursor: pointer;

    &:hover {
        filter: drop-shadow(0 0 4px #000);
    }
}

/* Activa/Desactiva sincro con scroll */
.desync-scroll {
    font-size: 1.2rem;
    margin-inline: .5rem;
    padding-top: .1rem;
    padding-inline: .2rem .5rem;
    color: #0ff;
    -webkit-text-stroke: 0px #000;
    text-shadow: 0px 0px 4px #000;
    box-shadow: 0px 2px 2px #000, inset 0px -2px 10px #000;
    border-radius: 2px 4px 4px 2px;
    user-select: none;
    text-align: right;
    height: 1.7rem;
    align-self: center;
    position: relative;
    bottom: .5px;
    & label {
        cursor: pointer;
        display: flex;
        align-items: center;
        &:hover {
            filter: drop-shadow(0 0 4px #000);
        }
    }
    & label input[type="checkbox"]:checked {
        background: #f00;
        accent-color: var(--bgcolor-interior2);
    }
    & label input[type="checkbox"] {
        width: 1.2rem;
        height: 1.2rem;
        margin-right: .2rem;
        position: relative;
        top: 1px;
        cursor: pointer;
    }
}

/* SaveButton.jsx */
.save-button {
    /* display: flex; */
    /* align-self: center; */
    margin-inline: .5rem auto;
    /* padding-inline: .15rem; */
    width: 28px;
    height: 22.5px;
    text-align: center;
    position: relative;
    bottom: .5px;
    text-shadow: 0px 0px 4px #000;
    box-shadow: 0px 2px 2px #000, inset 0px -2px 10px #000, inset 0px 2px 5px #5cc3;
    border-radius: 10%;
    user-select: none;
    cursor: pointer;
    &:hover {
        filter: drop-shadow(0 0 4px #003d);
    }
}


@media (width <= 768px) and (width > 525px) {
    .copy-text {
        margin-inline: auto .0rem;
    }
    .desync-scroll {
        font-size: .8rem;
        margin-inline: .0rem;
        padding-block: .2rem;
           
    }
    .trash-button {
        margin-inline: .5rem;
    }
}
@media (width < 375px) {
    .copy-text {
        margin-inline: auto .0rem;
    }
    .desync-scroll {
        font-size: .7rem;
        margin-inline: 0rem;
        padding-block: .2rem;
    }
    .trash-button {
        margin-inline: .5rem;
    }
}
