/* CopyText */
.copy-text {
    /* display: flex;
    align-self: center; */
    margin-inline: auto 1rem;
    /* padding-inline: .15rem; */
    width: 28px;
    height: 22px;
    text-align: center;
    position: relative;
    bottom: .5px;
    text-shadow: 0px 0px 4px #000;
    box-shadow: 0px 2px 2px #000, inset 0px -2px 10px #000;
    border-radius: 10%;
    user-select: none;
    cursor: pointer;
    &:hover {
        filter: drop-shadow(0 0 4px #003d);
    }
}
.copy-confirmation {
    position: absolute;
    left: 0px;
    bottom: 31px;
    height: 1.4rem;
    margin-top: .5rem;
    padding: 0.15rem 0.5rem;
    white-space: nowrap;
    color: #fff;
    font-size: .8rem;
    border-radius: 3px;
    background: var(--titulo-3);
    text-shadow: 0px 0px 4px #000;
    box-shadow: 0px 2px 2px #000, inset 0px -2px 10px #000;
    animation: fade-in-out 2.5s ease-in forwards;
}
@keyframes fade-in-out {
    from { opacity: 0; }
    20%, 50% { opacity: 1; transform: translateX(0); }
    /* 85% { transform: translateX(150%)} */
    to { opacity: 0; /* transform: translatex(200%); */ }
}

/* Papelera */
.trash-button {
    /* margin-inline: auto 1rem; */
    margin-inline: .5rem;
    height: 22px;
    width: 26px;
    text-align: center;
    /* height: 1.7rem; */
    /* align-self: center; */
    position: relative;
    bottom: .5px;
    text-shadow: 0px 0px 4px #000;
    box-shadow: 0px 2px 2px #000, inset 0px -2px 10px #000;
    border-radius: 2px 4px 4px 2px;
    user-select: none;
    cursor: pointer;

    &:hover {
        filter: drop-shadow(0 0 4px #000);
    }
}

/* Activa/Desactiva sincro con scroll */
.desync-scroll {
    font-size: 1.2rem;
    margin-inline: .5rem;
    padding-top: .1rem;
    padding-inline: .2rem .5rem;
    color: #0ff;
    -webkit-text-stroke: 0px #000;
    text-shadow: 0px 0px 4px #000;
    box-shadow: 0px 2px 2px #000, inset 0px -2px 10px #000;
    border-radius: 2px 4px 4px 2px;
    user-select: none;
    text-align: right;
    height: 1.7rem;
    align-self: center;
    position: relative;
    bottom: .5px;
    & label {
        cursor: pointer;
        display: flex;
        align-items: center;
        &:hover {
            filter: drop-shadow(0 0 4px #000);
        }
    }
    & label input[type="checkbox"]:checked {
        background: #f00;
        accent-color: var(--bgcolor-interior2);
    }
    & label input[type="checkbox"] {
        width: 1.2rem;
        height: 1.2rem;
        margin-right: .2rem;
        position: relative;
        top: 1px;
        cursor: pointer;
    }
}

/* SaveButton.jsx - Save to MD or PDF file. */
.save-button {
    /* display: flex; */
    /* align-self: center; */
    margin-inline: .5rem auto;
    /* padding-inline: .15rem; */
    width: 28px;
    height: 22.5px;
    text-align: center;
    position: relative;
    bottom: .5px;
    text-shadow: 0px 0px 4px #000;
    box-shadow: 0px 2px 2px #000, inset 0px -2px 10px #000, inset 0px 2px 5px #5cc3;
    border-radius: 10%;
    user-select: none;
    cursor: pointer;
    &:hover {
        filter: drop-shadow(0 0 4px #003d);
    }
}
.save-dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 1rem;
    border: none;
    border-radius: 10px;
    background: linear-gradient(90deg, var(--bgcolor-interior2), var(--bgcolor-interior1), var(--bgcolor-interior2));
    
    box-shadow: 0px 0px 36px 0px #0ff2;
    animation: getIn .4s ease;
    
    &::backdrop {
        background: #000a;
        backdrop-filter: blur(2px);
        animation: getIn .4s ease;
    }

    & p {
        margin-block: .5rem 1rem;
        margin-inline: .5rem;
        font-size: 1.2rem;
        font-weight: 400;
        color: var(--bgcolor-interior3);
        color: aqua;
        text-shadow: .5px 1px 1px /* var(--bgcolor-interior3) */;
    }
    & .buttons-dialog button {
        margin-inline: .5rem;
        width: 65px;
        padding: .4rem;
        margin-block: .5rem 1rem;
        border: none;
        color: black;
        font-weight: bold;
        cursor: pointer;
        user-select: none;
        border-radius: 10px;
        background: var(--bgcolor-interior3);
        background: aqua;
        box-shadow: 0px 2px 2px #003, inset 0px -2px 10px #003;
        transition: .2s;
        &:hover {
            box-shadow: 0 0 4px 2px #0ff, inset 0 -2px 10px #003;
        }
    }
    & .button-exit {
        width: 75px;
        margin-block: .7rem .5rem;
        border: none;
        padding: .4rem;
        margin-inline: .5rem;
        color: white;
        cursor: pointer;
        user-select: none;
        border-radius: 10px;
        /* text-shadow: 0px 0px 4px #000; */
        
        text-shadow: 0px 0px 4px #000;
        background: var(--bgcolor-interior1);
        box-shadow: 0px 2px 2px #000, inset 0px -2px 10px #000;
        transition: .2s;
        &:hover {
            box-shadow: 0 0 4px 2px var(--titulo-3), inset 0 -2px 10px #003, inset 0px 2px 4px var(--titulo-3);
        }
    }
}
@keyframes getIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Media Queries Responsive Móvil */
@media (width <= 768px) and (width > 525px) {
    .copy-text {
        margin-inline: auto .0rem;
    }
    .desync-scroll {
        font-size: .8rem;
        margin-inline: .0rem;
        padding-block: .2rem;
           
    }
    .trash-button {
        margin-inline: .5rem;
    }
}
@media (width < 375px) {
    .copy-text {
        margin-inline: auto .0rem;
    }
    .desync-scroll {
        font-size: .7rem;
        margin-inline: 0rem;
        padding-block: .2rem;
    }
    .trash-button {
        margin-inline: .5rem;
    }
}
