/* * {
  transition: all .3s ease-in-out !important;
} */
#markdown {
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: 100%;
  height: 100lvh;


  & header.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    /* outline: 2px solid #213c; */
    
    & nav {
      margin-inline: clamp(0.2rem, 2vw, 2rem);
      filter: drop-shadow(0 0 8px var(--blue-marine-markup-git)) drop-shadow(0 0 12px var(--blue-marine-markup-git));
      cursor: pointer;
      user-select: none;
      
      & span {
        /* font-size: 1.2rem; */
        margin-right: .5rem;
        /* transition: filter 1.0s ease-in-out; */
        &:hover {
          filter: drop-shadow(0 0 6px #0ff) drop-shadow(0 0 8px aqua);
        }
      }
    }

    & h1.title-header{
      font-size: clamp(1.3rem, 4vw, 2.4rem);
      font-family: inherit;
    }
  }


  & main.main {
    display: grid;
    grid-template-columns: auto auto;
    place-content: center;
    grid-gap: 1rem;
    transition: all 2s ease-in-out !important;
    /*border: 2px solid aqua; */
    /* transition: all .3s ease-in-out !important; */
    & aside {
      width: 100%;
      max-width: 550px;
      /* height: 600px; */
      height: 100%;
      margin: 0 auto;
      background: var(--bgcolor-interior1);
      /* box-shadow: 1px 1px 10px 2px var(--titulo-3); */
      /* transition: all .3s ease-in-out !important;       */
      /*h5 editor y preview */
      
      & .title-preview, .title-editor {
        height: 2.1rem;
        padding-inline: 1rem;
        /* align-content: center; */
        display: flex;
        align-items: center;
        justify-content: space-between;        

        text-shadow: 0px 1px 1px black;
        font-size: 1rem;
        font-weight: bolder;
        /* border: 2px solid var(--titulo-3); */
        background: var(--titulo-3);
        border-radius: 2px 2px 0 0;
      }
      & .title-preview {
        box-shadow: var(--header-title-morphism-blue-right);
      }
      & .title-editor {
        box-shadow: var(--header-title-morphism-blue-left);
      }
      & .expand-icon-toright {
        margin-inline: .5rem;
        /* margin-left: auto; */
        cursor: pointer;
        
        position: relative;
        top: 2px;
        /* align-self: baseline; */
        
        &:hover {
          filter: drop-shadow(0 0 4px #000);
        }
      }
      & .expand-icon-toleft {
        margin-inline: .5rem;
        margin-right: auto;        
        cursor: pointer;
        position: relative;
        top: 2px;        
        /* align-self: baseline; */
        
        &:hover {
          filter: drop-shadow(0 0 4px #000);
        }
      }
      & .expandfull-icon-left {
        cursor: pointer;
        position: relative;
        top: 2px;
        transition: transform 1s;
        
        &:hover {
          filter: drop-shadow(0 0 4px #000);
        }
      }
      & .expandfull-icon-right {
        cursor: pointer;
        position: relative;
        top: 2px;
        transition: transform 1s;
        
        &:hover {
          filter: drop-shadow(0 0 4px #000);
        }
      }
    }
      
    & aside.a-left.expanded, 
      aside.a-right.expanded {
      width: calc(50vw - 1rem);
      max-width: 1200px;
      height: 89vh;
      transition: all .5s ease-in-out;
      border-radius: 2px 2px 0 0;
    }
    & aside.a-left.collapsed, 
      aside.a-right.collapsed {
      height: 66vh ;
      transition: all .5s ease-in-out;
      border-radius: 2px 2px 0 0;
    }

    & aside.a-left.hidden,
      aside.a-right.hidden {
      
      animation: desvanecer .4s ease-in-out forwards;
    }
    & aside.a-left.expanded-full,
      aside.a-right.expanded-full {
      width: 97vw;
      max-width: 1400px;
      height: 89vh !important;
      margin: 0 auto;
    }


    & aside.a-left {
      margin-right: 0;
      margin-block: auto;
      width: calc(50vw - 1rem);/*45vw;*/
      height: 66vh;
      /* transition: all .3s ease-in-out !important; */
      & .title-editor {
        text-align: left;
        color: #FFF;
      }
      & textarea#editor {
        width: 100%;
        height: calc(100% - 2.1rem);
        display: flex;
        resize: vertical;
        /* border: 2px solid var(--bgcolor-interior1); */
        /* border-top: none; */
        border: none;
        background: var(--bgcolor-interior3);
        background: var(--bg-gradient-text-area-blue);
        box-shadow: var(--box-shadow-text-area-blue);
        /* outline: 2px solid var(--bgcolor-interior); */
        color: #000;/* color: #e0e0e0; */
        font-size: 1.2rem;
        padding: 1rem .8rem 1rem .8rem;
        font-family: monospace, system-ui;
        scrollbar-width: thin;
        scrollbar-color: var(--bgcolor-interior4) var(--titulo-3);
        /* transition: all .3s ease-in-out !important; */
        &:focus {
          outline: none;
        }
        &::placeholder {
          color: #c3c3ff;
          text-shadow: 0 0 .5px #000;
          opacity: 1;
        }
      }
    }

    & aside.a-right {
      margin-left: 0;
      margin-block: auto;
      width: calc(50vw - 1rem);/*45vw;*/
      height: 66vh;
      /* transition: all .3s ease-in-out !important; */
      & .title-preview {
        color: #000;
        text-align: right;
      }
      & div#preview {
        position: relative;
        width: 100%;
        height: calc(100% - 2.1rem);
        color: #e5e5e5;
        font-size: 1.2rem;
        font-weight: 200;
        line-height: 1;
        padding: .5rem .4rem .5rem .4rem;
        /* border: 2px solid var(--bgcolor-interior3); */
        border-top: none;
        border-right: none;
        box-shadow: var(--box-shadow-div-preview-blue);
        /* margin: auto; */
        scrollbar-width: thin;
        scrollbar-color: var(--bgcolor-interior4) var(--titulo-3);
        white-space: pre-wrap;
        overflow: auto;
        /* transition: all .3s ease-in-out !important; */

        & h1 { font-size: 2.2rem; }
        & h2 { font-size: 1.8rem; }
        & h3 { font-size: 1.5rem; }
        & h4 { font-size: 1.2rem; }
        & h5 { font-size: 1.0rem; }
        & h6 { font-size: .8rem; }
        
        & pre {
          scrollbar-width: thin;
          box-shadow: inset 0 0 14px #000;
          border-radius: 6px;
        }
                
        & blockquote {
          border-left: 4px solid #ccc;
          padding-left: 25px;
          margin-left: 0px;
          color: #ccc;
          background: var(--bgcolor-interior4);
          border-radius: 6px;

          & ul li ul, ul li ul li ul, 
          ol li ol, ol li ol li ol {
            padding-left: 30px;
            padding-block: 0px;
            margin-block: 0px;
            margin-bottom: -35px !important;
            border: 0px solid black;
          }
          /* & ul, ol {
            margin-bottom: -30px !important;
            padding-bottom: 10px;
          } */
          /* & ol {
            padding-left: 10px;
          } */
        }
        & input[type="checkbox"],
          blockquote input[type="checkbox"] {
          appearance: none;
          -webkit-appearance: none;
          background-color: var(--titulo-3);
          color: #f0f;
          width: 10px;
          height: 10px;
          position: relative;
          top: 0px;
          left: 0px;
          display: inline-block;
        }
        & input[type="checkbox"]:checked::before,
          blockquote input[type="checkbox"]:checked::before {
          content: "\2714";
          color: #fff;
          position: absolute;
          top: 45%;
          left: 50%;
          /* display: inline-block; */
          transform: translate(-40%, -55%);
          font-size: 14px;
          /* font-weight: bold; */
        }
        
        & details summary {
          cursor: pointer;
        }
        & details .markdown-alert {
            margin-block: -5px;
            padding: 5px !important;
            padding-block: 0px !important;
            /* border: 1px solid #fff !important; */
          }
        & .markdown-alert-note {
          border-left: 4px solid dodgerblue;
          margin-inline: 10px;
          background: var(--bgcolor-interior4);
          border-radius: 8px;
          & p, svg {                
            gap: 10px;
            margin-inline: 10px;
            color: dodgerblue;
          }
        }
        & .markdown-alert-tip {
          border-left: 4px solid #00FF00;
          margin-inline: 10px;
          background: var(--bgcolor-interior4);
          border-radius: 8px;
          & p, svg {                
            gap: 10px;
            margin-inline: 10px;
            color: #00FF00;
          }
        }
        & .markdown-alert-important {
          border-left: 4px solid #8957e5;
          margin-inline: 10px;
          background: var(--bgcolor-interior4);
          border-radius: 8px;
          & p, svg {                
            gap: 10px;
            margin-inline: 10px;
            color: #8957e5;
          }
        }
        & .markdown-alert-warning {
          border-left: 4px solid #f5a300;
          margin-inline: 10px;
          background: var(--bgcolor-interior4);
          border-radius: 8px;
          & p, svg {                
            gap: 10px;
            margin-inline: 10px;
            color: #f5a300;
          }
        }
        & .markdown-alert-caution {
          border-left: 4px solid #ff1f1f;
          margin-inline: 10px;
          background: var(--bgcolor-interior4);
          border-radius: 8px;
          & p, svg {                
            gap: 10px;
            margin-inline: 10px;
            color: #ff1f1f;
          }
        }

        & table {
          border-collapse: collapse;
          width: 100%;
        }
        & th, td {
          border: 2px solid #ddd;
          padding: 8px;
        }
            

        & ul, ol {
          margin-bottom: -10px !important;
          padding-left: 25px;
          /* padding-bottom: 0px; */
          
          & li p/* , li p input[type="checkbox"] */  {
            display: flex;
            align-items: last baseline;
            
            /* justify-content: center; */
            gap: 10px;
          }
        }  
      }
    }
    
  }


  & footer.footer {
    text-align: center;
    font-size: clamp(.4rem, 2vw, 1rem); 
    padding: .5rem;
    /* color: #000; */
    color: #fff;
    font-weight: 600;
    /* border-top: 2px solid #0a142b; */
    /* background: var(--titulo-3); */
    /* background: var(--bgcolor-interior1); */
    & a:first-child {
      color: crimson;
      font-style: italic;
      text-decoration: none;
      &:hover {color: blue}
    }
    & a:last-child {
      text-decoration: none;
    }
  }
}  




/* RESPONSIVE MODE 📱💻 */

@media (width <= 425px) {
  #markdown main.main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100vw;
    & aside.a-left, aside.a-right {
      width: 92vw;
      margin: auto .5rem auto .0rem;
      padding: 0;
      height: none;
    }
      & aside.a-left.expanded,
        aside.a-right.expanded {
        width: 95%;
        height: 87vh;
      }
      & aside.a-left.collapsed,
        aside.a-right.collapsed {
        height: 42vh;
      }
  }


}

@keyframes desvanecer {
  from {
    opacity: 1;
  }
  /* 80% {
    
    
  } */
  to {
    opacity: 0;
    transform: scale(0);
    display: none;
  }
}