
#markdown {

  display: grid;
  grid-template-rows: auto 1fr auto;
  width: 100%;
  height: 100lvh;

  

  & header.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    /* outline: 2px solid #213c; */
    
    & nav {
      margin-inline: clamp(0.2rem, 2vw, 2rem);
      filter: drop-shadow(0 0 16px #0ff);
      cursor: pointer;
      user-select: none;
      
      & span {
        /* font-size: 1.2rem; */
        margin-right: .5rem;
        transition: filter .2s ease-in-out;
        &:hover {
          filter: drop-shadow(0 0 6px #0ff) drop-shadow(0 0 8px aqua);
        }
      }
    }

    & h1.title-header{
      font-size: clamp(1.3rem, 4vw, 2.4rem);
      font-family: inherit;
    }
  }


  & main.main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-content: center;
    grid-gap: 1rem;
    /*border: 2px solid aqua; */

    & aside {
      width: 90%;
      
      max-width: 550px;
      height: 65vh;
      height: 600px;
      margin: 0 auto;
      background: var(--bgcolor-interior1);
      /* box-shadow: 1px 1px 10px 2px var(--titulo-3); */
      
      /*h5 editor y preview */
      & .title-preview, .title-editor {
        height: 2rem;
        padding-inline: 1rem;
        align-content: center;
        
        text-shadow: 0px 1px 1px black;
        font-size: 1rem;
        font-weight: bolder;
        border: 2px solid #0aa;
        background: var(--titulo-3);
      }
    }

    & aside.a-left {
      margin-right: 0;
      width: 45vw;
      & .title-editor {
        text-align: left;
        color: #FFF;
      }
      & textarea#editor {
        width: 100%;
        height: calc(100% - 2rem);
        display: flex;
        resize: vertical;
        /* border: 2px solid var(--bgcolor-interior1); */
        border-top: none;
        background: var(--bgcolor-interior3, #f0f);
        /* outline: 2px solid var(--bgcolor-interior); */
        color: #000;/* color: #e0e0e0; */
        font-size: 1.2rem;
        padding: .5rem .4rem .5rem .4rem;
        font-family: monospace, system-ui;
        scrollbar-width: thin;
        scrollbar-color: var(--titulo-3) var(--bgcolor-interior1);
        &:focus {
          outline: none;
        }
        &::placeholder {
          color: #000;
          text-shadow: 0 0 .5px #000;
          opacity: 1;
        }
      }
    }

    & aside.a-right {
      margin-left: 0;
      width: 45vw;
      
      & .title-preview {
        color: #000;
        text-align: right;
      }
      & div#preview {
        position: relative;
        width: 100%;
        height: calc(100% - 2rem);
        color: #e5e5e5;
        font-size: 1.2rem;
        font-weight: 200;
        padding: .5rem .3rem .5rem .4rem;
        border: 1px solid var(--bgcolor-interior3);
        border-top: none;
        /* margin: auto; */
        scrollbar-width: thin;
        scrollbar-color: var(--bgcolor-interior1) var(--titulo-3);
        white-space: pre-wrap;
        overflow: auto;

        & h1 { font-size: 2.2rem; }
        & h2 { font-size: 1.8rem; }
        & h3 { font-size: 1.5rem; }
        & h4 { font-size: 1.2rem; }
        & h5 { font-size: 1.0rem; }
        & h6 { font-size: .8rem; }

        & blockquote {
          border-left: 4px solid #ccc;
          padding-left: 25px;
          margin-left: 0px;
          color: #ccc;
          background: var(--bgcolor-interior4);
          border-radius: 6px;

          & ul li ul, ul li ul li ul,
          ol li, ol li ol, ol li ol li ol {
            padding-left: 25px;
            padding-block: 0px;
            margin-block: 0px;
            border: 0px solid black;
          }
          & ul, ol {
            margin-bottom: -25px !important;
          }
          & ol {
            padding-left: 10px;
          }
        }
        & input[type="checkbox"] {
          appearance: none;
          -webkit-appearance: none;
          background-color: var(--titulo-3);
          color: #f0f;
          width: 10px;
          height: 10px;
          position: relative;
          top: 0px;
          left: 0px;
          display: inline-block;
        }
          & input[type="checkbox"]:checked::before {
            content: "\2714";
            color: #fff;
            position: absolute;
            top: 45%;
            left: 50%;
            /* position: absolute; */
            /* top: 50%;
            left: 50%;*/
            transform: translate(-40%, -55%);
            font-size: 14px;
            /* font-weight: bold; */
          }
          & details summary {
            cursor: pointer;
          }
          & details .markdown-alert {
              margin-block: -5px;
              padding: 5px !important;
              padding-block: 0px !important;
              /* border: 1px solid #fff !important; */
            }
            & .markdown-alert-note {
              border-left: 4px solid dodgerblue;
              margin-inline: 10px;
              background: var(--bgcolor-interior4);
              border-radius: 8px;
              & p, svg {                
                gap: 10px;
                margin-inline: 10px;
                color: dodgerblue;
              }
            }
            & .markdown-alert-tip {
              border-left: 4px solid #00FF00;
              margin-inline: 10px;
              background: var(--bgcolor-interior4);
              border-radius: 8px;
              & p, svg {                
                gap: 10px;
                margin-inline: 10px;
                color: #00FF00;
              }
            }
            & .markdown-alert-important {
              border-left: 4px solid #8957e5;
              margin-inline: 10px;
              background: var(--bgcolor-interior4);
              border-radius: 8px;
              & p, svg {                
                gap: 10px;
                margin-inline: 10px;
                color: #8957e5;
              }
            }
            & .markdown-alert-warning {
              border-left: 4px solid #f5a300;
              margin-inline: 10px;
              background: var(--bgcolor-interior4);
              border-radius: 8px;
              & p, svg {                
                gap: 10px;
                margin-inline: 10px;
                color: #f5a300;
              }
            }
            & .markdown-alert-caution {
              border-left: 4px solid #ff1f1f;
              margin-inline: 10px;
              background: var(--bgcolor-interior4);
              border-radius: 8px;
              & p, svg {                
                gap: 10px;
                margin-inline: 10px;
                color: #ff1f1f;
              }
            }

            & table {
              border-collapse: collapse;
              width: 100%;
            }
            & th, td {
              border: 2px solid #ddd;
              padding: 8px;
            }
            
          /* & ul li ul, ul li ul li ul,
          ol li, ol li ol, ol li ol li ol {
            padding-left: 25px;
            padding-block: 0px;
            margin-block: 0px;
            border: 0px solid black;
          }
          & ul, ol {
            margin-bottom: -25px !important;
          }
          & ol {
            padding-left: 10px;
          } */ 
          & ul, ol {
            margin-bottom: -25px !important;
            padding-left: 30px;
            padding-bottom: 0px;
            
            /* & li, li p {
              padding-left: 5px;
              margin-bottom: 0px !important;
              padding-bottom: 0px !important;
            } */ 
          }  
        }
      }
    }





  & footer.footer {
    text-align: center;
    
    padding: .5rem;
    /* color: #000; */
    color: #fff;
    font-weight: 600;
    border-top: 2px solid #000;
    /* background: var(--titulo-3); */
    /* background: var(--bgcolor-interior1); */
  }
}

  
/* .navbar {
  position: relative;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  display:flex;
  justify-content: space-between;
  
  width: 100vw;
  height: 100%;
  
  
  
  & aside.a-left, aside.a-right {
    z-index: 1;
    width: 50vw;
    max-width: 50vw;
    height: 100%;
    padding-top: .3rem;      

    & h5 {
      background: var(--bgcolor-interior1);
      background: var(--titulo-2);
    }
  }

  & aside.a-left {
    text-align: left;
    border: 2px solid red;

    & textarea {
      width: 100%;
      height: calc(100% - 1.1rem);
      background: var(--bgcolor-interior);
    }
  }
  
  & header {
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 0px;
    width: max-content;
    transform: translate(-50%, 0);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border: 2px solid var(--titulo-secundario);
    background: #000;

    & h1 {
      font-size: 4.2rem;
    }
  }

  & aside.a-right {
    z-index: 0;
    text-align: right;
    
    width: 50vw;
    max-width: 50vw;
    height: 100%;
    border: 2px solid yellow;
  }
  
} */
  
  

  
/* .skin {
  background: var(--bgcolor-interior);
}


.editor {
  background: var(--sextenario-bgcolor);

}

.preview {
  background: var(--sextenario-bgcolor);
} */