:root {
  /* font-family: system-ui, Avenir, Helvetica, Arial, sans-serif; */
  font-family: monospace;

  --primario-color: #5d5fef;
  --secundario-color: #f5f5f5;
  --primario-bgcolor: #0C5569;
  --secundario-bgcolor: #123630;
  --terciario-bgcolor: #1e3036;
  --quaternario-bgcolor: #32515B;
  --quintenario-bgcolor: #1D473F;
    
  --bgcolor-interior: #081118;
  --bgcolor-interior1: #104770; /*asides*/
  --bgcolor-interior2: #01070E; /*body*/
  --bgcolor-interior3: #3F71A5; /*textarea*/
  --titulo-primario: #69C0AF;
  --titulo-secundario: #5BFCA2;
  --titulo-1: #0C5569;
  --titulo-2: #244d6d;
  --titulo-3: #007cdd; /*titulos*/
  --titulo-4: #886ce4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  color: #e3e3e3;
  background: var(--bgcolor-interior2);
  min-height: 100lvh;
  width: 100%;


}
